/* Add custom styles here */
body {
    background-color: #f8f9fa;
  }
  .container {
    margin-top: 50px;
  }
  .table {
    background-color: #fff;
    border-radius: 5px;
  }
  th, td {
    text-align: center;
  }
  .btn {
    border-radius:20px;
  }

  .table-responsive {
    display: table;
    width: 100%; /* Adjust width as needed */
    overflow-x: auto; /* Allow horizontal scrolling if content overflows */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Optional for smooth scrolling in IE */
  }

  .search-bar input.form-control {
    border-color: blue;
  }
  