<h1 class="text-center mt-4">Please Upload Required Documents</h1>
<div class="container mt-5">
  <div class="card-deck">
    <div class="card" *ngFor="let fileType of getVisibleForms()">
      <div class="card-body">
        <h5 class="card-text">
          Upload: {{ fileType }} <span *ngIf="!isFormOptional(fileType)" class="mandatory">*</span>
        </h5>
        <input *ngIf="isFormOptional(fileType)" type="file" class="form-control-file mb-3" (change)="onFileSelected($event, fileType)">
        <small *ngIf="isFormOptional(fileType)" class="form-text text-muted">Optional</small>
        <input *ngIf="!isFormOptional(fileType)" type="file" class="form-control-file mb-3" (change)="onFileSelected($event, fileType)" required>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <button *ngIf="currentFormIndex < fileTypes.length - filesPerStep" class="btn btn-success" (click)="proceedNext()">Proceed Next</button>
    <button *ngIf="currentFormIndex >= fileTypes.length - filesPerStep" class="btn btn-success" (click)="submitAllFiles()">Submit All Files</button>
  </div>
</div>



  
  
  
  
  
  
  
  
  
  
  
  
